user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
  worker_connections 768;
  # multi_accept on;
}
http {
map $request_uri $uri_username {
    "~^/live/([^/]+)/" $1;
    "~^/vod/([^/]+)/" $1;
    "~^/movie/([^/]+)/" $1;
    default "";
}

map "$arg_username|$uri_username" $effective_username {
    "~^(.+)\|$" $1;
    "~^\|(.+)$" $1;
    "~^(.+)\|(.+)$" $1;
    default "";
}

map $effective_username $backend {
    default backend_default;
{% for user in __proxy_users | map(attribute='proxy_username') | unique | sort %}
    {{ user }} backend_{{ user }};
{% endfor %}
}

map "$live_enabled|$arg_action|$uri" $block_live {
    "~^0\|get_live_(categories|streams)\|.*$" 1;
    "~^0\|.*\|/live"                         1;
    default                                  0;
}

map "$vod_enabled|$arg_action" $block_vod {
    "~^0\|get_vod_(categories|streams|info)$" 1;
    default                                   0;
}

map $effective_username $live_enabled {
  default 0;
  {% for user in __proxy_users | map(attribute='proxy_username') | unique | sort %}
{% set live = __proxy_users | selectattr('proxy_username', '==', user) | map(attribute='live') | first %}
  {{ user }} {{ live }};
{% endfor %}
}

map $effective_username $vod_enabled {
    default 0;
    {% for user in __proxy_users | map(attribute='proxy_username') | unique | sort %}
{% set vod = __proxy_users | selectattr('proxy_username', '==', user) | map(attribute='vod') | first %}
  {{ user }} {{ vod }};
{% endfor %}
}

  # Increase the maximum size of the hash table
  proxy_headers_hash_max_size 1024;

  # Increase the bucket size of the hash table
  proxy_headers_hash_bucket_size 128;

  ##
  # Basic Settings
  ##

  sendfile on;
  tcp_nopush on;
  types_hash_max_size 2048;
  # server_tokens off;

  # server_names_hash_bucket_size 64;
  # server_name_in_redirect off;

  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  ##
  # SSL Settings
  ##

  ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3; # Dropping SSLv3, ref: POODLE
  ssl_prefer_server_ciphers on;

  ##
  # Logging Settings
  ##

  access_log /var/log/nginx/access.log;
  error_log /var/log/nginx/error.log;

  ##
  # Gzip Settings
  ##

  gzip on;

  # gzip_vary on;
    # gzip_proxied any;
  # gzip_comp_level 6;
  # gzip_buffers 16 8k;
  # gzip_http_version 1.1;
  # gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

  ##
  # Virtual Host Configs
  ##

  include /etc/nginx/conf.d/*.conf;
  include /etc/nginx/sites-enabled/*;
}


#mail {
# # See sample authentication script at:
# # http://wiki.nginx.org/ImapAuthenticateWithApachePhpScript
#
# # auth_http localhost/auth.php;
# # pop3_capabilities "TOP" "USER";
# # imap_capabilities "IMAP4rev1" "UIDPLUS";
#
# server {
#   listen     localhost:110;
#   protocol   pop3;
#   proxy      on;
# }
#
# server {
#   listen     localhost:143;
#   protocol   imap;
#   proxy      on;
# }
#}