# {{ ansible_managed | comment }}

{% for item in __proxy_users | map(attribute='proxy_username') | unique | sort %}
{% set username = item %}
{% set name = __proxy_users | selectattr('proxy_username', '==', username) | map(attribute='proxy_name') | unique | first %}
{% set upstream_ports = __proxy_users | selectattr('proxy_username', '==', username) | map(attribute='proxy_port') %}
{% set provider =  __proxy_users | selectattr('proxy_username', '==', username) | map(attribute='provider_name') | first %}
# upstream for {{ name }} on {{ provider }}
upstream iptv_{{ username }} {
   ip_hash;
{% for port in upstream_ports | shuffle %}
{% set iptv_account = __proxy_users | selectattr('proxy_port', '==', port) | map(attribute='xtream_account') | first %}
{% set provider_username = role_iptvservice__credentials | map(attribute='provider_credentials') | flatten | selectattr('account', '==', iptv_account) | map(attribute='username') | first %}
   server {{ role_iptvservice__iptv_hostname | first }}:{{ port }}; # {{ iptv_account }} - {{ provider_username }}
{% endfor %}
}

{% endfor %}

# log_format
log_format main_ext '$remote_addr - $remote_user [$time_local] "$request" '
   '$status $body_bytes_sent "$http_referer" '
   '"$http_user_agent" '
   '$request_time $upstream_response_time $iptv_agents $upstream_addr $upstream_status';

# http / port 80
server {
   listen 80;
   server_name {{ role_iptvservice__iptv_hostname | join(' ') }};
{% if role_iptvservice__iptv_ssl_certificate is not defined and role_iptvservice__iptv_ssl_certificate_key is not defined %}
   access_log /var/log/nginx/{{ role_iptvservice__iptv_hostname | first }}_access.log main_ext;
   error_log /var/log/nginx/{{ role_iptvservice__iptv_hostname | first }}_error.log;
   index index.html index.php;
   root /var/www/html/{{ role_iptvservice__iptv_hostname | first }};

{% for item in __proxy_users | map(attribute='proxy_username') | unique | sort %}
{% set username = item %}
{% set name = __proxy_users | selectattr('proxy_username', '==', username) | map(attribute='proxy_name') | unique | first %}
{% set live = __proxy_users | selectattr('proxy_username', '==', username) | map(attribute='live') | first %}
{% set vod = __proxy_users | selectattr('proxy_username', '==', username) | map(attribute='vod') | first %}
   # Proxy for {{ name }}
   location ^~ /{{ username }}/ {
      if ($iptv_agents = 0) {
        return 403;
      }
{% if not live | bool %}
      # block live
      if ($uri ~ ^/([^/]+)/live/\1/\1/\d+\.ts$) {
         return 302 https://yiafe.com/oos.ts;
      }
{% endif %}
{% if not vod | bool %}
      # block vod
      if ($arg_action ~* ^(get_vod_categories|get_vod_streams|get_vod_info)$) {
        return 403;
      }
{% endif %}
      proxy_pass http://iptv_{{ username }}/;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      keepalive_timeout 60s;
   }

{% endfor %}

    # root
    location / {
       try_files $uri $uri/ =404;
    }

    # PHP
    location ~ \.php$ {
      try_files $uri =404;
      fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
      fastcgi_index index.php;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      include fastcgi_params;
    }

{% else %}
   return 301 https://$server_name$request_uri;
{% endif %}
}

{% if role_iptvservice__iptv_ssl_certificate is defined and role_iptvservice__iptv_ssl_certificate_key is defined %}
# https / port 443
server {
   listen 443 ssl;
   server_name {{ role_iptvservice__iptv_hostname | join(' ') }};
   access_log /var/log/nginx/{{ role_iptvservice__iptv_hostname | first }}_access.log main_ext;
   error_log /var/log/nginx/{{ role_iptvservice__iptv_hostname | first }}_error.log;
   index index.html index.php;
   root /var/www/html/{{ role_iptvservice__iptv_hostname | first }};
   include /etc/nginx/snippets/letsencrypt.conf;

{% for item in __proxy_users | map(attribute='proxy_username') | unique | sort %}
{% set username = item %}
{% set name = __proxy_users | selectattr('proxy_username', '==', username) | map(attribute='proxy_name') | unique | first %}
{% set live = __proxy_users | selectattr('proxy_username', '==', username) | map(attribute='live') | first %}
{% set vod = __proxy_users | selectattr('proxy_username', '==', username) | map(attribute='vod') | first %}
   # Proxy for {{ name }}
   location ^~ /{{ username }}/ {
      if ($iptv_agents = 0) {
        return 403;
      }
{% if not live | bool %}
      # block live
      if ($uri ~ ^/([^/]+)/live/\1/\1/\d+\.ts$) {
         return 302 https://yiafe.com/oos.ts;
      }
{% endif %}
{% if not vod | bool %}
      # block vod
      if ($arg_action ~* ^(get_vod_categories|get_vod_streams|get_vod_info)$) {
        return 403;
      }
{% endif %}
      proxy_pass http://iptv_{{ username }}/;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      keepalive_timeout 60s;
   }

{% endfor %}

   # root
   location / {
      try_files $uri $uri/ =404;
   }

   # Protected Paths
{% if role_iptvservice__protected_paths is defined and role_iptvservice__protected_paths | length > 0 %}
{% for item in role_iptvservice__protected_paths %}
   location {{ item.path }} {
   {% for arg in item.args %}
      {{ arg }}
   {% endfor %}
   }
{% endfor %}
{% endif %}

   # PHP
   location ~ \.php$ {
      try_files $uri =404;
      fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
      fastcgi_index index.php;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      include fastcgi_params;
   }

   # SSL
   ssl_certificate {{ role_iptvservice__iptv_ssl_certificate }};
   ssl_certificate_key {{ role_iptvservice__iptv_ssl_certificate_key }};
}
{% endif %}