{
{% for uname, u in __users | dictsort %}
  "{{ uname }}": {
    "password": "{{ u.password }}",
    "live": {{ (u.live|string).lower() }},
    "vod": {{ (u.vod|string).lower() }},
    "provider": {{ (u.provider | default('') ) | tojson }}
  }{% if not loop.last %},{% endif %}
{% endfor %}
}
